<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkedln Entre ou Cadastre-se</title>
    <link rel="canonical" href="https://www.linkedin.com/signup"><link rel="icon" href="https://static-exp1.licdn.com/sc/h/al2o9zrvru7aqj8e1x2rzsrca">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        body{
            background-color: rgb(245, 243, 244);
        }
        *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        header{
            width: 100%;
            background-color: rgb(249, 255, 255);
            display: flex;
            justify-content: space-around;
            border: 0.5px rgb(246, 249, 245) solid;
            border-top: none;
            border-left: none;
            border-right: none;
            align-items: center;
            
        }

        .logo-img{
           margin-top: 3px;
           margin-left: 20px;
        }
        .container-logo{
            display: flex;
            align-items: center;
        }
        .logo-tetxo{
            margin-left: 25px;
            color: rgb(169, 169, 169);
        }

        .menu li{
            display: inline-block;
            margin: 0px 12px;
        }

        .menu li a {
            font-size: 16px;
            text-decoration: none;
            color: rgb(169, 169, 255)
        }
        .menu li a:hover {
            font-size: 16px;
            text-decoration: none;
            color: rgb(41, 38, 38);
        }
    </style>
</head>
<body>
    <header>
        <div class="container-logo">
            <div class="logo-img">
                <li for="" id="label"></li>
                <a href="/home"><img id="imagem" src=https://olhardigital.com.br/wp-content/uploads/2021/02/kisspng-linkedin-computer-icons-logo-social-networking-ser-facebook-5ab6ebfe829553.8964224815219374065349.png" alt="linkedln" height="52px" width="53px"></a>
            </div>
        </div>
        <div class="menu">
            <ul>
                    <li><a href="/login">Descobrir</a></li>
                    <li><a href="">Pessoas</a></li>
                    <li><a href="">Learning</a></li>
                    <li><a href="">Vagas</a></li>
            </ul>
        </div>
        
    </header>
        
</body>
</html>